<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarCtrl">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="assets/images/logo.png" style="height: 60px; margin-top: -7px" /> Profiler</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>Hey! David <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#"><i class="glyphicon glyphicon-user"></i> Profile</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
            </ul>
          </li>
          <li class="dropdown" dropdown on-toggle="toggled(open)">
            <a href class="dropdown-toggle" dropdown-toggle><i class="glyphicon glyphicon-bell"><sup>2</sup></i></a>
            <ul class="dropdown-menu">
              <li><a href="#">{{ nav.date | date:'yyyy-MM-dd' }}</a></li>
              <li><a href="#">Project Q Datasource updated</a></li>
              <li><a href="#">Project R QA validation updated </a></li>
            </ul>
          </li>
          <li><a href="#about"><i class="glyphicon glyphicon-cog"></i></a></li>
          <li><a href="#"><i class="glyphicon glyphicon-info-sign"></i></a></li>
          <li><a href="#"><i class="glyphicon glyphicon-search"></i></a></li>

          <li><a href="#contact"><i class="glyphicon glyphicon-menu-hamburger"></i></a></li>

        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
